body {
    margin: 0;
    width:100%;
}

.header {
    background-color: #1F1F1F;
    color: #553100;
    width: 100%;
    padding: 5px;
    border-bottom: 1px groove black;
}

h2 {
  display: inline-block;
  margin: 10px;
}

h3 {
  display: inline-block;
  margin: 10px;
}

.search {
    float: right;
}

.login {
    grid-column: 2;
    float: center;
}

.emailInput {
    float:left;
    margin-right:20px;
    box-sizing: content-box;
    width: 400px;
}
.main {
    display: grid;
    grid-template-columns: 1fr 500px 1fr;
    grid-column: 2;
/*  text-align: center; */
    
}



